iframe {
	height: 400px;
	overflow: hidden;
}

.download-link {
	text-decoration: none;
	color: black;
}

.download-link:hover {
	text-decoration: underline;
}

img.thumbmails {
	height: 800px;
	width: auto;
}

hr {
	margin-top: 25px;
	margin-bottom: 25px;
}