iframe {
	height: 400px;
	overflow: hidden;
}

.download-link {
	text-decoration: none;
	color: black;
}

.download-link:hover {
	text-decoration: underline;
}

img.thumbmails {
	height: auto;
	width: 50%;
}

hr {
	width: 60%;
	margin-top: 25px;
	margin-bottom: 25px;
}